<!-- 
     Welcome to unittesting!
     Welcome to unittesting!
     Welcome to unittesting!
     Welcome to unittesting!<h1 id="header">Employee ID Card Form</h1> -->
<!-- <form novalidate [formGroup]="form" class="container">
  <div id="iddiv">
    <label for="firstname" id="lfname">First Name</label>
    <input type="text" class="form-control" name="firstname" id="firstname" formControlName="firstname">
    <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="idFormGroup.get('firstname').touched && idFormGroup.get('firstname').errors"
      id="firstError"></i>
    <i class="glyphicon glyphicon-ok form-control-feedback" id="firstError" *ngIf="idFormGroup.get('firstname').touched && !idFormGroup.get('firstname').errors"></i>
  </div>
  <br>
  <span id="firstNameError" class="alert alert-danger" *ngIf="idFormGroup.get('firstname').touched && idFormGroup.get('firstname').errors">Please enter first name</span>
  <br>
  <br>
  <div id="iddiv">
    <label for="fullname">Full Name</label>
    <input type="text" class="form-control" name="fullname" id="fullname" formControlName="fullname">
    <i class="glyphicon glyphicon-remove form-control-feedback fullwrong"></i>
    <i class="glyphicon glyphicon-ok form-control-feedback fulltick "></i>
  </div>
  <span id="fullNameError" class="spanHide"></span>
  <br>
  <br>
  <div>
    <label for="desination">Designation</label>
    <select name="designation" class="form-control" formControlName="designation" id="designation">
      <option value=""></option>
      <option value="Associate Engineer">Associate Engineer</option>
      <option value="General Manger">General Manger</option>
      <option value="HR manager">HR manager</option>
      <option value="Team Leader">Team Leader</option>
    </select>
  </div>
  <span id="designationerror" class="spanHide"></span>
  <br>
  <br>
  <br>
  <div id="iddiv">
    <label for="empid">Employee Code</label>
    <input type="text" class="form-control" id="empid" formControlName="empid">
    <i class="glyphicon glyphicon-remove form-control-feedback empwrong"></i>
    <i class="glyphicon glyphicon-ok form-control-feedback emptick "></i>
  </div>
  <span id="empiderror" class="alert alert-danger" *ngIf="idFormGroup.get('employeeCode').touched && idFormGroup.get('employeeCode').errors">
    Employee code must start with 8 or 6 and must be 7 digits long
  </span>
  <br>
  <br>
  <label for="bloodgroup">Blood Group</label>
  <select name="bloodgroup" class="form-control" id="bloodgroup" formControlName="bloodgroup">
    <option value=""></option>
    <option value="A1+ve">A1+ve</option>
    <option value="B+ve">B+ve</option>
    <option value="B-ve">B-ve</option>
    <option value="universal">universal</option>
  </select>
  <span id="bloodgrouperror" class="spanHide"></span>
  <br>
  <br>
  <br>
  
  <div id="iddiv">
    <label for="email">email(virtusa)</label>
    <input type="email" class="form-control" id="email"formControlName="email" >
    <i class="glyphicon glyphicon-remove form-control-feedback emailwrong"></i>
    <i class="glyphicon glyphicon-ok form-control-feedback emailtick "></i>
  </div>
  <div id="emailerror" class="spanHide"></div>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <button type="button" class="btn btn-success" id="submitting" [disabled]="idFormGroup.invalid" (click)="onSubmit()">submit</button>
</form> -->
